pygame==2.5.2
SpeechRecognition==3.10.1
twilio==9.2.3
cryptography==42.0.5
pywebpush==1.14.0
requests==2.32.3
pytesseract
Pillow
psutil
imapclient==2.3.1
keyring==24.3.1
scapy==2.5.0
pyautogui==0.9.54
schedule==1.2.1
PyPDF2
python-docx
beautifulsoup4
discord.py
numpy
feedparser
